# Copyright 2023 Subatomix Research Inc.
# SPDX-License-Identifier: ISC

# Auto detect text files and perform LF normalization
* text=auto

# Show C# method names in diff chunk headers
*.cs diff=csharp

# Use CRLF for SQL files so that migration hashes are stable across platforms
*.sql eol=crlf
